body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: blanchedalmond;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: rgb(140, 237, 237);
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 134px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 134px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    place-content: center;
}

.game-info {
    margin-left: 20px;
}
.heading{
    text-align: center;
    margin: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
}
.move{
    background-color:rgb(248, 204, 137) ;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
}
.status{
    background-color: rgb(21, 116, 62);
    color: white;
    border-radius: 1rem;
    padding:1rem 2rem;
}
.winner{
    background-color: green;
}
.loser{
    background-color: red;
}